<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Holtwood One SC' rel='stylesheet'>

    <title>Demonstration</title>
</head>
<body style="background-image: url('static/img/formbg.png');">
<div class="w3-display-container" style="padding-left: 100px;"  >
    <div class="w3-display" style="  margin-top: 25px ">


        <!-- change col-lg- to adjust size of image feed and change offset to change right offset -->

        
            <h1  style="font-family: 'Holtwood One SC';  " class="mt-5"> Detect your Face</h1>
    </div>
             <a class="btn btn-danger btn m-2" href="{{url_for('welcome')}}"> Register </a>
    <div class="col-lg-10  offset-lg-0" style="padding-left: 100px">
            <img style= "border: 2px solid black;"src="{{ url_for('video_feed') }}" width="100%">
    </div>



</div>
</body>
</html>